{
    "extends": [
      "airbnb",
      "eslint:recommended",
      "plugin:react/recommended",
      "prettier"
    ],
    "rules": {
      "react/jsx-filename-extension": 0,
      "import/no-named-as-default": 0,
      "import/no-unresolved": [
        2, 
        { "caseSensitive": false }
     ]
    }
  }