{
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parser": "@babel/eslint-parser",
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/function-component-definition":0,
    "react/prop-types": "off",
    "import/no-named-as-default": 0,
    "no-unsafe-optional-chaining":0,
    "import/no-unresolved": [
      2, 
      { "caseSensitive": false }
   ]
  }
}